@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

body {
  font-size: 1.6rem;
  background: #1c1c1c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-generator {
  width: 55rem;
  height: 55rem;
  padding: 5.2rem;
  background: #1f2937;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Karla;
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.title span {
  color: #4adf86;
}

.subtitle {
  color: #d5d4d8;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 5rem;
}

.btn {
  width: 19rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  background: #10b981;
  padding: 0.9rem 1.5rem 0.9rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #fff;
  margin-bottom: 3.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}

.btn:hover {
  background-color: #0b7a55;
}

.divider {
  height: 1px;
  background-color: #2f3e53;
  margin-bottom: 3.5rem;
  border: none;
}

.passwords-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;
}

.password {
  width: 21rem;
  height: 4rem;
  border-radius: 6px;
  background: #273549;
  color: #55f991;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
